#container{
    width: 100%;
    height: calc(100vh - 60px);
    overflow-y: auto;
    min-width: 860px;
    scroll-snap-type: y mandatory;
    

 
    .scroll-container{

        scroll-snap-align: center;
        .small-container{
            height: calc(100vh - 100px);
            width: 100%;
            display: flex;

    
        }

        .navigate{
            height:40px;
            display: flex;
            flex-direction: column;
            align-items: center;  
            justify-content: flex-end;
            opacity: 60%;
            transition: opacity 1s;
            background-color: darkcyan;
            cursor: pointer;
            &:hover{
                opacity: 100%;
            }
    
                
    
        }

        .navigate-top{
            div{
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 20px;
                font-weight: bold;
            }
        }

        .navigate-down{
            img{
                content: url(./down-icon.png);
                height: 30px;
                width: 50px;
                margin-bottom: 5px;
            }
        }
    
    }
   

    #page-1-container{
        //background-color: rgb(220, 253, 253);


        #page-1-image{
            height: 100%;
            width: 50%;
            
            img{
                height: 100%;
                width: 100%;
                content: url(./header-image.jpg);
                object-fit: cover;
            }
        }

        #page-1-content{
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            margin-right: 20px;
            justify-content: center;


            #name{
                font-size: xx-large;
            }

            #message{
                font-size: large;
                line-height: 40px;
                margin-left: 20px;
            }
            


            @media screen and (max-height:650px) { 

                #name{
                    font-size: x-large;
                }

                #message{
                    font-size: medium;
                    margin-top: 10px;
                }

                .sentence{
                    margin-top: 5px;
                }
            }

            @media screen and (max-height:500px) { 

                #name{
                    font-size: large;
                }

                #message{
                    font-size: small;
                    margin-top: 10px;
                }

                .sentence{
                    margin-top: 5px;
                }
            }

            @media screen and (min-height:650px) { 

                #message{
                    margin-top: 20px;
                }

                .sentence{
                    margin-top: 30px;
                }
            }
        }
    }

   
    #page-2-container{

        #page-2-image{
            height: 100%;
            width: 40%;
            
            img{
                height: 100%;
                width: 100%;
                content: url(./family-pic.jpg);
                object-fit: cover;
            }
        }

        #page-2-content{
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            margin-right: 20px;
            justify-content: center;


            #title{
                font-size: xx-large;
                line-height: 30px;
            }

            #message{
                font-size: large;
                line-height: 40px;
            }
            
            .sentence{
                margin-left: 20px;
            }


            @media screen and (max-height:650px) { 

                #title{
                    font-size: x-large;
                }

                #message{
                    font-size: medium;
                    margin-top: 10px;
                }

                .sentence{
                    margin-top: 5px;
                }
            }

            @media screen and (max-height:500px) { 

                #title{
                    font-size: large;
                }

                #message{
                    font-size: small;
                    margin-top: 10px;
                }

                .sentence{
                    margin-top: 5px;
                }
            }

            @media screen and (min-height:650px) { 

                #message{
                    margin-top: 20px;
                }

                .sentence{
                    margin-top: 30px;
                }
            }
        }
        
    }

    #page-3-container{
        flex-direction: column;
        #page-3-image{
            height: 50%;
            width: 100%;
            
            img{
                height: 100%;
                width: 100%;
                content: url(./data.jpg);
                object-fit: cover;
            }
        }

        #page-3-content{
            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: column;



            #title{
                font-size: xx-large;
                line-height: 30px;
                margin-top: 20px;
                margin-left: 20px;
            }

            #list{
                font-size: large;
                line-height: 40px;
                margin-top: 20px;

                .list-item{
                    margin-left: 140px;
                    display: flex;
                    margin-top: 20px;
                    
                    .arrow{
                        content: url(./blue-arrow.png);
                        height: 40px;
                    }

                    .sentence{
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        margin-left: 20px;
                    }
                }
            }
            





            
        }
    }

    #page-4-container{
        background-color: darkkhaki;
    }

}
