<div id='container'>

<div class='scroll-container' id='page-1'>
    <div id='page-1-container' class='small-container'>
        <div id='page-1-content'>
            <div id='name'>{{ firstName }},</div>
            <div id='message'>
                <div class='sentence'>{{ page1_sentenceA }}</div>
                <div class='sentence'>{{ page1_sentenceB }}</div>
                <div class='sentence'>{{ page1_sentenceC }}</div>
            </div>
        </div>
        <div id='page-1-image'>
            <img>
        </div>
    </div>

    <div class='navigate navigate-down' (click)='scrollDown(2)'>
            <img>
    </div>
</div>
  
<div class='scroll-container' id='page-2'>
    <div id='page-2-container' class='small-container'>
        <div id='page-2-image'>
            <img>
        </div>
        <div id='page-2-content'>
            <div id='title'>{{ page2_title }}</div>
            <div id='message'>
                <div class='sentence'>{{ page2_sentenceA }}</div>
                <div class='sentence'>{{ page2_sentenceB }}</div>
                <div id='list'>
                    <div class='list-item'>
                        <span class='arrow'></span>
                        <span class='option'>Two-factor Authentication</span>
                    </div>
                    <div class='list-item'>
                        <span class='arrow'></span>
                        <span class='option'>Option 2</span>
                    </div>
                    <div class='list-item'>
                        <span class='arrow'></span>
                        <span class='option'>Option 3</span>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class='navigate navigate-down' (click)='scrollDown(3)'>
        <img>
    </div>
</div>
    

<div class='scroll-container' id='page-3'>
    <div id='page-3-container' class='small-container'>
        <div id='page-3-image'>
            <img>
        </div>
        <div id='page-3-content'>
            <div id='title'>{{ page3_title }}</div>
            <div id='list'>
                <div class='list-item'>
                    <span class='arrow'></span>
                    <span class='sentence'>{{ page3_sentenceA }}</span>
                </div>
                <div class='list-item'>
                    <span class='arrow'></span>
                    <span class='sentence'>{{ page3_sentenceB }}</span>
                </div>
                <div class='list-item'>
                    <span class='arrow'></span>
                    <span class='sentence'>{{ page3_sentenceC }}</span>
                </div>
            </div>
        </div>

    </div>


    <div class='navigate navigate-down' (click)='scrollDown(4)'>
        <img>
    </div>
</div>


<div class='scroll-container' id='page-4'>
    <div id='page-4-container' class='small-container'>
        
        <div id='page-4-content'>
            <div id='title'>{{ page4_title }}</div>
            <div id='list'>
                <div class='list-item'>
                    <span class='arrow'></span>
                    <span class='sentence'>{{ page4_sentenceA }}</span>
                </div>
                <div class='list-item'>
                    <span class='arrow'></span>
                    <span class='sentence'>{{ page4_sentenceB }}</span>
                </div>
                <div class='list-item'>
                    <span class='arrow'></span>
                    <span class='sentence'>{{ page4_sentenceC }}</span>
                </div>
            </div>
        </div>
        <div id='page-4-image'>
            <img>
        </div>

    </div>

    <div class='navigate navigate-top'  (click)='scrollDown(1)'>
        <div class='no-select'>TOP</div>
    </div>
</div>
    
</div>
