$color-main: white;
$color-secondary: #19B3F4;
$color-secondary2: #5dbfe9;
$color-footer: #ECECEC;
$color-green: #c7ed9f;
$color-green-dark: #a8d481;
$primary-font: 'Red Hat Display', sans-serif;

#container{
    width: 100%;
    height: calc(100vh - 180px);
    //overflow-y: auto;
    min-width: 860px;
    scroll-snap-type: y mandatory;
    

 
    .scroll-container{
        
        scroll-snap-align: center;
        .small-container{
            height: calc(100vh - 210px);
            width: 100%;
            display: flex;

        }

        .navigate{
            height:30px;
            display: flex;
            flex-direction: column;
            align-items: center;  
            justify-content: flex-end;
            opacity: 100%;
            transition: opacity 1s;
            background-color: $color-secondary;
            cursor: pointer;
            &:hover{
                opacity: 60%;
            }
    
                
    
        }

        .navigate-top{
            div{
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 18px;
                font-weight: bold;
                filter: invert(100%);
            }
        }

        .navigate-down{
            img{
                content: url(./images/down-icon.png);
                height: 20px;
                width: 30px;
                margin-bottom: 5px;
                filter: invert(100%);

            }
        }
    
    }
   

    #page-1-container{

        #page-1-image{
            height: 100%;
            width: 50%;
            
            img{
                height: 100%;
                width: 100%;
                content: url(./images/header-image.jpg);
                object-fit: cover;
            }
        }

        #page-1-content{
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            margin-right: 20px;
            justify-content: center;


            #name{
                font-size: xx-large;
            }

            #message{
                font-size: large;
                line-height: 40px;
                margin-left: 20px;
            }
            


            @media screen and (max-height:650px) { 

                #name{
                    font-size: x-large;
                }

                #message{
                    font-size: medium;
                    margin-top: 10px;
                }

                .sentence{
                    margin-top: 5px;
                }
            }

            @media screen and (max-height:500px) { 

                #name{
                    font-size: large;
                }

                #message{
                    font-size: small;
                    margin-top: 10px;
                }

                .sentence{
                    margin-top: 5px;
                }
            }

            @media screen and (min-height:650px) { 

                #message{
                    margin-top: 20px;
                }

                .sentence{
                    margin-top: 30px;
                }
            }
        }
    }

   
    #page-2-container{
        
        #page-2-image{
            height: 100%;
            width: 40%;
            
            img{
                height: 100%;
                width: 100%;
                content: url(./images/family-pic.jpg);
                object-fit: cover;
            }
        }

        #page-2-content{
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            margin-right: 20px;
            justify-content: center;
            


            #title{
                font-size: xx-large;
                line-height: 30px;
            }

            #message{
                font-size: large;
                line-height: 40px;
            }
            
            .sentence{
                margin-left: 20px;
            }

            #list{
                font-size: large;
                line-height: 40px;
                margin-top: 20px;
                

                .list-item{
                    margin-left: 140px;
                    display: flex;
                    margin-top: 20px;
                    display: flex;
                    
                    .arrow{
                        content: url(./images/blue-arrow.png);
                        height: 40px;
                    }

                    .option{
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        margin-left: 20px;
                    }
                }
            }


            @media screen and (max-height:650px) { 

                #title{
                    font-size: x-large;
                }

                #message{
                    font-size: medium;
                    margin-top: 10px;
                }

                .sentence{
                    margin-top: 5px;
                }
            }

            @media screen and (max-height:500px) { 

                #title{
                    font-size: large;
                }

                #message{
                    font-size: small;
                    margin-top: 10px;
                }

                .sentence{
                    margin-top: 5px;
                }
            }

            @media screen and (min-height:650px) { 

                #message{
                    margin-top: 20px;
                }

                .sentence{
                    margin-top: 30px;
                }
            }
        }
        
    }

    #page-3-container{
        flex-direction: column;
        #page-3-image{
            height: 50%;
            width: 100%;
            
            img{
                height: 100%;
                width: 100%;
                content: url(./images/data.jpg);
                object-fit: cover;
            }
        }

        #page-3-content{
            height: 50%;
            width: 100%;
            display: flex;
            flex-direction: column;



            #title{
                font-size: xx-large;
                line-height: 30px;
                margin-top: 20px;
                margin-left: 20px;
            }

            #list{
                font-size: large;
                line-height: 40px;
                margin-top: 10px;

                .list-item{
                    margin-left: 140px;
                    display: flex;
                    margin-top: 15px;
                    
                    .arrow{
                        content: url(./images/blue-arrow.png);
                        height: 40px;
                    }

                    .sentence{
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        margin-left: 20px;
                    }
                }
            }
            





            
        }
    }

    #page-4-container{
        

        #page-4-content{
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;



            #title{
                font-size: xx-large;
                line-height: 30px;
                //margin-top: 40px;
                margin-left: 20px;
                margin-right: 20px;
            }

            #list{
                font-size: large;
                line-height: 40px;
                margin-top: 20px;

                .list-item{
                    margin-left: 140px;
                    display: flex;
                    margin-top: 40px;
                    
                    .arrow{
                        content: url(./images/blue-arrow.png);
                        height: 40px;
                    }

                    .sentence{
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        margin-left: 20px;
                    }
                }
            }
            
        }


        #page-4-image{
            height: 100%;
            width: 40%;
            
            img{
                height: 100%;
                width: 100%;
                content: url(./images/computer.jpg);
                object-fit: cover;
            }
        }
    }



}
