.heading{
  text-align: center;
  margin: 2vh 0
}
.loadCirc{
  display: flex;
  justify-content: center;
  margin-top:2vh;
}
table {
    width: 70vw;
    margin: 10vh auto;
    }
    h4{
      color:rgb(1, 124, 240);
      margin-top:5px;
  
    }
    .center {
      padding-left:8px
    }
    p{
  
      span{
        margin: 2px;
      }
    }

    mat-progress-spinner {
      background-color: blueviolet;
      
  }
.cd-container, .stock-container{
  display: flex;
  align-items: center;
}
.cd-container span, .stock-container span{
background-color: #5dbfe9; 
color:white;
padding:.2rem;
border-radius:10px;
}
.stock-container span{
  
}