table {
    width: 90vw;
    margin: 10vh auto;
    }
    h4{
      color:rgb(1, 124, 240);
      margin-top:5px;
  
    }
    .center {
      padding-left:8px
    }
    p{
  
      span{
        margin: 2px;
      }
    }

    mat-progress-spinner {
      background-color: blueviolet;
  }