.example-card {
  width: 275px;
 margin: 13px;
 
}

.example-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

button {
  background-color: #6251ff;
  color: white;
}

.details {
  font-family: serif;
  font-size: 17px;
}

.card-container {
  display: grid;
  padding-right: 20%;
  padding-top: 50px;
  grid-template-columns: auto auto auto;
  background-color: red;
  margin-left: 500px;
 
}

.cd-header {
  font-family: serif;
  text-align: center;
  padding-top: 50px;
}

.cd-sub-header {
  font-family: serif;
  text-align: center;
}

.calculator-box {
  display: flex;
  background-color: blue;
  height: 90%;
  width: 500px;
  position: absolute;
  flex-direction: column;
}

.calc {
 height: 300px;
 width: 325px;
 background-color: red;
 margin-left: 85px;
 p{
  color: white;
  font-size: 20px;
  text-align: center;
  
}


border-radius: 10px;

}

mat-slider {
  width: 300px;
}

.calculateTotal{
  color: white;
  font-size: 20px;
}

.calc-heading {
  text-align: center;
  margin-top: 100px;
}



@media only screen and (max-width: 100px) {
  .card-container  {
      display: flex;
      flex-direction: column;
  }
}
