<h3>CD Marketplace</h3>
<p>
  Welcome to the CDs Marketplace! Each return is tied to a given stock index.
</p>


<div class="calculator-box" [ngClass]="{'move-modal' :moveClass}">
  <div class="calc">
    Investment Amount:
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="1000"
      step="1000"
      [min]="minDeposit"
      max="100000"
      aria-label="units"
      #currentValue
      (change)="sliderCalc(currentValue, termLength, interestRate)"
      [(ngModel)]="value"
    >
    </mat-slider>
    <pre>CD Term: <input #cdTermValue type="text" size="5" value="{{termLength}}" class="term-calc-header"> months</pre>
    
    <pre>Interest Rate: <input #cdIntValue type="text" size="5" value="{{ interestRate }}" class="term-calc-header"> %</pre>

    <h3 class="term-calc-header">Investment Return: {{ calculatedReturn | currency }}</h3>
    <button class="btn btn-primary" (click)="buttonCalc(currentValue, cdTermValue, cdIntValue)">Calculate Return</button>
  </div>
  <button class="closeBtn" (click)="toggleCalc()"><fa-icon [icon]="faTimesCircle"></fa-icon></button>
</div>



<div class="card-container">
  <mat-card class="example-card" *ngFor="let cd of cds; let i = index">
    <mat-card-title>{{ cd.elcd?.name }}</mat-card-title>
    <mat-card-subtitle>Stock Index</mat-card-subtitle>
    <mat-card-content>
      <p class="details">
        Minimum Deposit: {{ cd.minimumOpeningDeposit | currency }}
      </p>
      <p class="details">Term: {{ cd.term }} months</p>
      <p class="details">Interest Rate: {{ cd.interestRate }}%</p>
    </mat-card-content>
    <mat-card-actions class="btnBox">
      <button
        (click)="xferData(cd.minimumOpeningDeposit, cd.term, cd.interestRate)"
        class="cd-details btn btn-primary"
        mat-button
      >
        CALCULATE
      </button>
      <button
        class="btn btn-primary"
        mat-button
        (click)="openPopup(cd.term, cd.interestRate, cd.minimumOpeningDeposit)"
      >
        OPEN CD
      </button>
    </mat-card-actions>
  </mat-card>

  <h2 class="cd-sub-header">{{ alertMessage }}</h2>

  <div
    *ngFor="let cd of cds; let i = index"
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: displayStyle }"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p class="details">How Much Would You Like to Invest?</p>
          <input
            #modalValue
            id="takeInput"
            type="number"
            class="opening-deposit"
            (input)="updateDeposit($event)"
            placeholder="{{ userDepositInput | currency }}"
          />
          <p class="details">
            Opening Deposit: {{ userDepositInput | currency }}
          </p>
          <p class="details">Term: {{ termLength }} months</p>
          <p class="details">Interest Rate: {{ interestRate }}%</p>
        </div>
        <div class="modal-footer">
          <p class="error-message" *ngIf="valid">
            Investment must be at least {{ minDeposit | currency }}
          </p>
          <button
            (click)="buyCD(i)"
            (click)="reset(modalValue)"
            type="button"
            class="btn btn-primary mod-btn"
          >
            BUY CD
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="reset(modalValue)"
            (click)="closePopup()"
          >
            CLOSE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
