<div class="about-body">
    <div class="about-title">
        <h1>About us</h1>
        <br/>
        <h3>
            Condor financial is a fictional company created to showcase the work we've done and the skills we've developed as part of the Talent Path training program.
            This application tracks various investment opportunities such as stocks and foreign currency exchange (forex) with frequent updates and also other types of investments such as a menu of sample certificates of deposit (CDs). You can freely add money to your account and inest it in these options, watching how your return evolves in real-time. 
        </h3>

        <h3>
            This website was built in Angular with the use of Angular Materials. It's supported by an ecosystem of back-end microserves built in Node.js utilizing the Express server structure. Data is stored in a mix of Postgres SQL and DynamoDB.
        </h3>
    </div>

    <mat-card class="member-card">
        
        <mat-card-content class="member-card-content">
            <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            <div class="member-card-text">
                <h1><b>Dakota Korn</b></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <h2>On this project:</h2>
                <p>Dakota did a bunch of stuff with stocks or whatever</p>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button>GITHUB</button>
            <button mat-button>LINKEDIN</button>
          </mat-card-actions>
        
    </mat-card>

    <mat-card class="member-card">

        <mat-card-content class="member-card-content">
            <div class="member-card-text">
                <h1 class="right-name"><b><div>Chris McClure</div></b></h1>
                <p>In addition to his programming skills, Chris has extensive professional experience in Logistics and Supply Chain Management as a supervisor at C. H. Robinson. He is currently working on combining the communication and leaderships skills he developed that role with his knowledge of software development to build a career as a back-end developer.</p>
                <h2>On this project:</h2>
                <p>On the back end, Chris designed the Forex API that our Forex Marketplace is built on, as well as the Portfolio service that aggregates information from our other investment APIs and manages a user-specific portfolio. In this web application, Chris designed the compoenents for the Forex Marketplace and the Portfolio page and also the general aesthetic for Condor Financial, including the color scheme, logo, and fonts. Plus the page you're on now!</p>
            </div>
            <img mat-card-xl-image src="../../assets/chris_headshot.jpg" >
        </mat-card-content>

        <mat-card-actions>
            <button mat-button (click)="goTo('https://github.com/cjmcclure1337')">GITHUB</button>
            <button mat-button (click)="goTo('https://www.linkedin.com/in/christopher-mcclure-79675473/')">LINKEDIN</button>
          </mat-card-actions>
    </mat-card>

    <mat-card class="member-card">
        
        <mat-card-content class="member-card-content">
            <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            <div class="member-card-text">
                <h1><b>Rae Painter</b></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <h2>On this project:</h2>
                <p>Rae did IRAs or something, idk</p>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button>GITHUB</button>
            <button mat-button>LINKEDIN</button>
          </mat-card-actions>
        
    </mat-card>

    <mat-card class="member-card">

        <mat-card-content class="member-card-content">
            <div class="member-card-text">
                <h1 class="right-name"><b><div>Patrick Price</div></b></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <h2>On this project:</h2>
                <p>Something about mutual funds?</p>
            </div>
            <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-content>

        <mat-card-actions>
            <button mat-button>GITHUB</button>
            <button mat-button>LINKEDIN</button>
          </mat-card-actions>
    </mat-card>

    <mat-card class="member-card">
        
        <mat-card-content class="member-card-content">
            <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            <div class="member-card-text">
                <h1><b>Marcus Ramirez</b></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <h2>On this project:</h2>
                <p>I wanna say... CDs? Probably CDs.</p>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button>GITHUB</button>
            <button mat-button>LINKEDIN</button>
          </mat-card-actions>
        
    </mat-card>

    <mat-card class="member-card">

        <mat-card-content class="member-card-content">
            <div class="member-card-text">
                <h1 class="right-name"><b><div>Micah Smith</div></b></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <h2>On this project:</h2>
                <p>Pretty sure it was something about security, but I wasn't listening.</p>
            </div>
            <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-content>

        <mat-card-actions>
            <button mat-button>GITHUB</button>
            <button mat-button>LINKEDIN</button>
          </mat-card-actions>
    </mat-card>
</div>