<div class="about-body">
    <div class="about-title">
        <h1>About us</h1>
        <br/>
        <h3>
            Condor financial is a fictional company created to showcase the work we've done and the skills we've developed as part of the Talent Path training program.
            This application tracks various investment opportunities such as stocks and foreign currency exchange (forex) with frequent updates and also other types of investments such as a menu of sample certificates of deposit (CDs). You can freely add money to your account and inest it in these options, watching how your return evolves in real-time. 
        </h3>

        <h3>
            This website was built in Angular with the use of Angular Materials. It's supported by an ecosystem of back-end microserves built in Node.js utilizing the Express server structure. Data is stored in a mix of Postgres SQL and DynamoDB.
        </h3>
    </div>

    <mat-card class="member-card">
        
        <mat-card-content class="member-card-content">
            <img mat-card-xl-image src="../../assets/Dakota-Profile-Pic.jpg" >
            <div class="member-card-text">
                <h1><b>Dakota Korn</b></h1>
                <p>With a background in education, Dakota maintains a consistent growth mindset attitude and is actively trying to build upon his skills in many different programming areas. His prior experience working as the head manager of a township facility not only helped him work in a team environment, but also gave him valuable insights on how to help lead a team towards a common goal. Dakota's current goal is to become a Full Stack Java Developer and to keep learning new technologies and frameworks to assist in his personal growth.</p>
                <h2>On this project:</h2>
                <p>On the front end, Dakota used his extensive knowledge of CSS and SCSS to help lead the design and functionality of the GUI. He also used his experience with Angular and Angular Routing to create a multiple router application that lead to the implementation of the application's sidebar navigation system. Dakota also helped research and implement the use of Angular graphs with real time data into his Stocks Marketplace Application. On the backend, Dakota created a microservice that keeps consistently updates a database with the current price of individual stocks. It also maintains an archived database of the end of day stock prices of each individual stock. He also created a microservice that allowed his team to access the current and archived stock prices, along with basic information of the specific stocks.</p>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button (click)='goTo("https://github.com/DakotaJKorn")'>GITHUB</button>
            <button mat-button (click)='goTo("https://www.linkedin.com/in/dakota-korn/")'>LINKEDIN</button>
          </mat-card-actions>
        
    </mat-card>

    <mat-card class="member-card">

        <mat-card-content class="member-card-content">
            <div class="member-card-text">
                <h1 class="right-name"><b><div>Chris McClure</div></b></h1>
                <p>In addition to his programming skills, Chris has extensive professional experience in Logistics and Supply Chain Management as a supervisor at C. H. Robinson. He is currently working on combining the communication and leaderships skills he developed that role with his knowledge of software development to build a career as a back-end developer.</p>
                <h2>On this project:</h2>
                <p>On the back end, Chris designed the Forex API that our Forex Marketplace is built on, as well as the Portfolio service that aggregates information from our other investment APIs and manages a user-specific portfolio. In this web application, Chris designed the compoenents for the Forex Marketplace and the Portfolio page and also the general aesthetic for Condor Financial, including the color scheme, logo, and fonts. Plus the page you're on now!</p>
            </div>
            <img mat-card-xl-image src="../../assets/chris_headshot.jpg" >
        </mat-card-content>

        <mat-card-actions>
            <button mat-button (click)="goTo('https://github.com/cjmcclure1337')">GITHUB</button>
            <button mat-button (click)="goTo('https://www.linkedin.com/in/christopher-mcclure-79675473/')">LINKEDIN</button>
          </mat-card-actions>
    </mat-card>

    <mat-card class="member-card">
        
        <mat-card-content class="member-card-content">
            <img mat-card-xl-image src="../../assets/Rae-Headshot.jpeg" >
            <div class="member-card-text">
                <h1><b>Rae Painter</b></h1>
                <p>Rae graduated from University of Massachusetts Amherst with a B.S. in Computer Science and a minor in English. They focused their education on software development and have experience in full-stack engineering, comprehensive software testing, mobile and ubiquitous computing, human computer interactions, and various tech stacks and frameworks. They have a fondness for back-end and making scalable and easy to maintain programs.</p>
                <h2>On this project:</h2>
                <p>Rae created the checking account and IRA APIs that store and serve all account data, along with the corresponding front-end pages that display the data and enable user interaction with their accounts. Additionally, Rae designed and created the user account page allowing users to update their information employing reactive forms.</p>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button (click)="goTo('https://github.com/RaeStone')">GITHUB</button>
            <button mat-button (click)="goTo('https://www.linkedin.com/in/raestone/')">LINKEDIN</button>
          </mat-card-actions>
         
    </mat-card>

    <mat-card class="member-card">

        <mat-card-content class="member-card-content">
            <div class="member-card-text">
                <h1 class="right-name"><b><div>Patrick S. Price</div></b></h1>
                <p>In addition to programming Patrick has developed a variety of skills both in IT and outside of it.</p>
                <h2>On this project:</h2>
                <p>Set up connection with mutual funds micro service and built a front end to talk to it. Assisted house mates with coding dilemas, research, and updating Khanban Board. </p>
            </div>
            <img mat-card-xl-image src="../../assets/patrick_headshot.jpg" >
        </mat-card-content>

        <mat-card-actions>
            <button mat-button (click)="goTo('https://github.com/Damerian00')">GITHUB</button>
            <button mat-button (click)="goTo('https://www.linkedin.com/in/patrick-price-35600135/')">LINKEDIN</button>
          </mat-card-actions>
    </mat-card>

    <mat-card class="member-card">
        
        <mat-card-content class="member-card-content">
            <img mat-card-xl-image src="https://media-exp1.licdn.com/dms/image/C4E03AQGunRjtIeI_6g/profile-displayphoto-shrink_800_800/0/1638938974084?e=1649289600&v=beta&t=e8PtxZcd4Ppwbc-WXXfSUxVQYwp5jrDwxSzje0KVeFI" >
            <div class="member-card-text">
                <h1><b>Marcus Ramirez</b></h1>
                <p>After climbing the ladder in the hospitality industry, Marcus decided to switch gears and join the world of programming. He could not be more thrilled with his decision.  Learning code, building websites, and contributing to a software development team has been both fun and rewarding.  Marcus's motto is "Be a Better Developer Than Yesterday, and Even Better Tomorrow!"   </p>
                <h2>On this project:</h2>
                <p>Marcus designed the certificate of deposit (CDs) API and the page where CDs can be purchased.</p>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-button (click)="goTo('https://github.com/marcuspramirez')">GITHUB</button>
            <button mat-button (click)="goTo('https://www.linkedin.com/in/marcus-ramirez-43b523134/')">LINKEDIN</button>
          </mat-card-actions>
        
    </mat-card>

    <mat-card class="member-card">

        <mat-card-content class="member-card-content">
            <div class="member-card-text">
                <h1 class="right-name"><b><div>Micah Smith</div></b></h1>
                <p>Micah is a software engineer with an eye for detail, who has gained a passion for programming and its fundamentals. Currently, he has been developing web applications using the Angular/Node JS tech stack. In addition, he enjoys working on my own side projects and learning more about new technologies.</p>
                <h2>On this project:</h2>
                <p>
                    Micah designed the "Users" and "Auth" microservices, where CRUD operations for user accounts, as well as authentication/authorization occur.
                    On the front end, Micah also contributed to the route guard, design/styling of the home page, and a few other elements throughout.
                </p>
            </div>
            <img mat-card-xl-image src="https://avatars.githubusercontent.com/u/86262666?v=4" >
        </mat-card-content>

        <mat-card-actions>
            <button mat-button (click)="goTo('https://github.com/MicahWSmith')">GITHUB</button>
            <button mat-button (click)="goTo('https://www.linkedin.com/in/micah-smith-2bab4019b/')">LINKEDIN</button>
          </mat-card-actions>
    </mat-card>
</div>