.container {
    width: 65vw;
    margin: 20px;
    padding: 10px;
}
.red {
    color: rgb(235, 41, 41);
}

.green {
    color: rgb(5, 165, 5);
}

.ira {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content:center;

    margin: 20px;
    padding: 10px;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.topcard {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content:center;

    margin: 20px;
    padding: 10px;
    text-align: center;
}
.noAccount {
    width: 40vw;
    text-align: center;
    padding: 20px;
    margin: 10px;
}
.noAccountTitle{
    padding: 10px
}
.noAccountContent {
    padding: 5px;
    font-size: 1.2em;
}
mat-card-title {
    padding: 10px;
    margin: 10px;
}
mat-card-content {
    font-size: 1.2em;
}