<div class="container" *ngIf="user">
    <mat-card>
        <mat-card-title id="title">
            Your Account Details
        </mat-card-title>
        <div *ngIf="!hasAddress" class="addressWarning">
            No address on record; please update below
        </div>
        <mat-card-content class="box">
            <div id="name-div">
                <div class="label">Name: </div>
                <div class="rowTest name" *ngIf="!showNameEdit">
                    <div class="info">{{user.first}} {{user.last}}</div>
                    <div class="edit-button"><button mat-raised-button class="edit" (click)="editName()">Edit</button></div>
                    
                </div>
            </div>
            
            <div class="columnTest" *ngIf="showNameEdit">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your First name</mat-label>
                        <input matInput placeholder={{user.first}} [formControl]="nameFirst" required>
                        <mat-error *ngIf="nameFirst.invalid">First name is required</mat-error>
                      </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your Last name</mat-label>
                        <input matInput placeholder={{user.last}} [formControl]="nameLast" required>
                        <mat-error *ngIf="nameLast.invalid">Last name is required</mat-error>
                      </mat-form-field>
                </div>
                <div class="rowTest">
                    <button mat-button (click)="closeName()">Close</button>
                    <button mat-button (click)="submitName()" [disabled]="!nameForm.valid">Submit</button>
                </div>
            </div>
            

            <div id="address-div">
                <div class="label">Address: </div>
                <div class="rowTest address" *ngIf="!showAddressEdit">
                    <div class="info">{{user.profile.street_address}} {{user.profile.city}} {{user.profile.state}}</div>
                    <div class="edit-button"><button mat-raised-button class="edit" (click)="editAddress()">Edit</button></div>
                </div>
            </div>

            

            <div class="columnTest" *ngIf="showAddressEdit">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Street Address</mat-label>
                        <input matInput placeholder={{user.profile.street_address}} [formControl]="street" required>
                        <mat-error *ngIf="street.invalid">Stress address is required</mat-error>
                      </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>City</mat-label>
                        <input matInput placeholder={{user.profile.city}} [formControl]="city" required>
                        <mat-error *ngIf="city.invalid">City is required</mat-error>
                      </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>State</mat-label>
                        <mat-select [(value)]="selected" [formControl]="state">
                          <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="rowTest">
                    <button mat-button (click)="closeAddress()">Close</button>
                    <button mat-button (click)="submitAddress()" [disabled]="!addressForm.valid">Submit</button>
                </div>
            </div>

            <div id="contact-div">
                <div class="label">Contact: </div>
                <div class="rowTest contact" *ngIf="!showContactEdit">
                    <div class="columnTest">
                        <div class="rowTest">
                            <div class="label">Email:</div>
                            <div class="info">{{user.email}}</div>
                        </div>
    
                        <div class="rowTest">
                            <div class="label">Phone:</div>
                            <div class="info">{{user.phone}}</div>
                        </div>
                    </div>
                    <div class="edit-button"><button mat-raised-button class="edit" (click)="editContact()">Edit</button></div>
                    
                </div>
            </div>
            

            <div *ngIf="showContactEdit" class="columnTest">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder={{user.email}} [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                      </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your phone number</mat-label>
                        <input matInput placeholder={{user.phone}} [formControl]="phone" required>
                        <mat-error *ngIf="phone.invalid">{{getErrorMessagePhone()}}</mat-error>
                      </mat-form-field>
                </div>
                <div class="rowTest">
                    <button mat-button (click)="closeContact()">Close</button>
                    <button mat-button (click)="submitContact()" [disabled]="!contactForm.valid">Submit</button>
                </div>
            </div>
        </mat-card-content>
        <div id="password-button">
            <button mat-raised-button (click)="showPassword()">Update Password</button>
        </div>
        <div *ngIf="showPasswordChange" class="columnTest passwordChange">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input matInput type="password" placeholder="Enter new password" [formControl]="password" required>
                    <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" placeholder="Confirm password" [formControl]="passwordConfirm" required>
                    <mat-error *ngIf="passwordConfirm.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
            </div>
            <div>
                <mat-error *ngIf="password.value !== passwordConfirm.value">Passwords do not match</mat-error>
            </div>
            <div class="rowTest">
                <button mat-button (click)="closePassword()">Close</button>
                <button mat-button (click)="submitPassword()" [disabled]="!passwordForm.valid || password.value !== passwordConfirm.value">Submit</button>
            </div>
        </div>
        <div id="delete-button-div">
            <button mat-raised-button (click)="openConfirm()" >Close Account</button>
        </div>
    </mat-card>
</div>