.container{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: calc(100vh - 280px);
    overflow-y: auto;
    //flex-wrap: wrap;
    //background-color: green;
}
.row{
    display: flex;
    width: 100%;
    background-color: chocolate;
    
    //background-color: red;
    
}
.column{
    display: flex;
    flex-direction: column;
    flex: none;
    //background-color: yellow;
}
.label{
    padding-right: 5px;
}

.info{
    background-color: red;
    width: 50px;
}