<div class="portfolio">
    <p>Welcome to your portfolio!</p>
    <p>Prices are displayed in USD</p>
    <p>Current user is: {{currentUser}}</p>
    <p>Retrieve user: <input type="number" [(ngModel)]="newUser"><button (click)="updateUser()">Update</button></p>

    <div *ngIf="loading; then loadingBlock else portfolioBlock"></div>

    <ng-template #loadingBlock>
        <p class=loader>
            <mat-spinner></mat-spinner>
        </p>
    </ng-template>

    <ng-template #portfolioBlock>
        <p>{{currencyMessage}}</p>
        <h1 *ngIf="currencies.length > 0">Currencies</h1>
        <table mat-table [dataSource]="currencies" class="mat-elevation-z8" *ngIf="currencies.length > 0">
            
            <!-- Code Column -->
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> Code </th>
                <td mat-cell *matCellDef="let currency"> {{currency.code}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let currency"> {{currency.name}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let currency"> {{currency.symbol}} </td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let currency"> {{currency.quantity}} </td>
            </ng-container>

            <!-- Purchase Price Column -->
            <ng-container matColumnDef="purchasePrice">
                <th mat-header-cell *matHeaderCellDef> Purchase Price </th>
                <td mat-cell *matCellDef="let currency"> {{currency.purchasePrice}} </td>
            </ng-container>

            <!-- Current Price Column -->
            <ng-container matColumnDef="currentPrice">
                <th mat-header-cell *matHeaderCellDef> Current Price </th>
                <td mat-cell *matCellDef="let currency"> {{currency.currentPrice}} </td>
            </ng-container>

            <!-- Sell Column -->
            <ng-container matColumnDef="sell">
                <th mat-header-cell *matHeaderCellDef> Sell </th>
                <td mat-cell *matCellDef="let currency; let i=index"> <button mat-raised-button (click)="sellCurrency(i)">Sell</button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="currencyColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: currencyColumns;"></tr>

        </table>

        <br/>  

        <p>{{stockMessage}}</p>
        <h1 *ngIf="stocks.length > 0">Stocks</h1>
        <table mat-table [dataSource]="stocks" class="mat-elevation-z8" *ngIf="stocks.length > 0">
            
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let stock"> {{stock.symbol}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let stock"> {{stock.name}} </td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let stock"> {{stock.quantity}} </td>
            </ng-container>

            <!-- Purchase Price Column -->
            <ng-container matColumnDef="purchasePrice">
                <th mat-header-cell *matHeaderCellDef> Purchase Price </th>
                <td mat-cell *matCellDef="let stock"> {{stock.purchasePrice}} </td>
            </ng-container>

            <!-- Current Price Column -->
            <ng-container matColumnDef="currentPrice">
                <th mat-header-cell *matHeaderCellDef> Current Price </th>
                <td mat-cell *matCellDef="let stock"> {{stock.currentPrice}} </td>
            </ng-container>

            <!-- Sell Column -->
            <ng-container matColumnDef="sell">
                <th mat-header-cell *matHeaderCellDef> Sell </th>
                <td mat-cell *matCellDef="let stock; let i=index"> <button mat-raised-button (click)="sellStock(i)">Sell</button> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="stockColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: stockColumns;"></tr>

        </table>

        <br/>  

        <p>{{cdMessage}}</p>
        <h1 *ngIf="cds.length > 0">CDs</h1>
        <table mat-table [dataSource]="cds" class="mat-elevation-z8" *ngIf="cds.length > 0">
            
            <!-- Deposit Column -->
            <ng-container matColumnDef="deposit">
                <th mat-header-cell *matHeaderCellDef> Deposit </th>
                <td mat-cell *matCellDef="let cd"> {{cd.deposit | currency}} </td>
            </ng-container>
            
            <!-- Interest Rate Column -->
            <ng-container matColumnDef="interestRate">
                <th mat-header-cell *matHeaderCellDef> Interest Rate </th>
                <td mat-cell *matCellDef="let cd"> {{cd.interestRate | percent}} </td>
            </ng-container>

            <!-- Open Date Column -->
            <ng-container matColumnDef="openDate">
                <th mat-header-cell *matHeaderCellDef> Date Openned </th>
                <td mat-cell *matCellDef="let cd"> {{cd.openDate | date}} </td>
            </ng-container>

            <!-- Term Column -->
            <ng-container matColumnDef="term">
                <th mat-header-cell *matHeaderCellDef> Term </th>
                <td mat-cell *matCellDef="let cd"> {{cd.term / 2592000000 | number:'1.0-0'}} months </td>
            </ng-container>

            <!-- Current Value Column -->
            <ng-container matColumnDef="currentValue">
                <th mat-header-cell *matHeaderCellDef> Current Value </th>
                <td mat-cell *matCellDef="let cd"> {{cd.currentValue | currency}} </td>
            </ng-container>

            <!-- Maturity Date Column -->
            <ng-container matColumnDef="maturityDate">
                <th mat-header-cell *matHeaderCellDef> Maturity Date </th>
                <td mat-cell *matCellDef="let cd"> {{parseInt(cd.openDate) + parseInt(cd.term) | date}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="cdColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: cdColumns;"></tr>

        </table>
    </ng-template>
</div>