<div class="portfolio">
    <h1>My Portfolio</h1>
    <p>Welcome to your portfolio! Prices are displayed in USD</p>

    <div *ngIf="loading; then loadingBlock else portfolioBlock"></div>

    <ng-template #loadingBlock>
        <p class=loader>
            <mat-spinner></mat-spinner>
        </p>
    </ng-template>

    <ng-template #portfolioBlock>
        <div class="portfolio-div">
            <mat-card class="portfolio-card">
                <div class="card-row">
                    <div class="label">Total Value of Current Assets:</div>
                    <div class="value">$2.00</div>
                </div>
                <div class="card-row">
                    <div class="label">Total Gain/Loss:</div>
                    <div class="value">$4/20%</div>
                </div>
            </mat-card>
        </div>
        <br/>

        <p>{{currencyMessage}}</p>
        <h1 *ngIf="currencies.length > 0">Currencies</h1>
        <table mat-table [dataSource]="currencies" class="mat-elevation-z8" *ngIf="currencies.length > 0">
            
            <!-- Code Column -->
            <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef> Code </th>
                <td mat-cell *matCellDef="let currency"> {{currency.code}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let currency"> {{currency.name}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let currency"> {{currency.symbol}} </td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let currency"> {{currency.quantity}} </td>
            </ng-container>

            <!-- Purchase Price Column -->
            <ng-container matColumnDef="purchasePrice">
                <th mat-header-cell *matHeaderCellDef> Cost Basis </th>
                <td mat-cell *matCellDef="let currency"> ${{currency.purchasePrice}} </td>
            </ng-container>

            <!-- Last Price Column -->
            <ng-container matColumnDef="lastPrice">
                <th mat-header-cell *matHeaderCellDef> Last Price </th>
                <td mat-cell *matCellDef="let currency"> ${{currency.currentPrice}} </td>
            </ng-container>

            <!-- Purchase Value Column -->
            <ng-container matColumnDef="purchaseValue">
                <th mat-header-cell *matHeaderCellDef> Value at Purchase </th>
                <td mat-cell *matCellDef="let currency"> {{currency.purchasePrice * currency.quantity | currency}} </td>
            </ng-container>

            <!-- Current Value Column -->
            <ng-container matColumnDef="currentValue">
                <th mat-header-cell *matHeaderCellDef> Current Value </th>
                <td mat-cell *matCellDef="let currency"> {{currency.currentPrice * currency.quantity | currency}} </td>
            </ng-container>

            <!-- Sell Column -->
            <ng-container matColumnDef="sell">
                <th mat-header-cell *matHeaderCellDef> Sell </th>
                <td mat-cell *matCellDef="let currency; let i=index"> 
                    <div *ngIf="canSell; then buyBlock else lockedBlock"></div>

                    <ng-template #buyBlock>
                        <button mat-raised-button (click)="sellCurrency(i)">Sell</button> 
                    </ng-template>

                    <ng-template #lockedBlock>
                        <button mat-raised-button disabled>Sell</button> 
                    </ng-template>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="currencyColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: currencyColumns;"></tr>

        </table>

        <br/>  

        <p>{{stockMessage}}</p>
        <h1 *ngIf="stocks.length > 0">Stocks</h1>
        <table mat-table [dataSource]="stocks" class="mat-elevation-z8" *ngIf="stocks.length > 0">
            
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let stock"> {{stock.symbol}} </td>
            </ng-container>
            
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let stock"> {{stock.name}} </td>
            </ng-container>

            <!-- Quantity Column -->
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let stock"> {{stock.quantity}} </td>
            </ng-container>

            <!-- Purchase Price Column -->
            <ng-container matColumnDef="purchasePrice">
                <th mat-header-cell *matHeaderCellDef> Cost Basis </th>
                <td mat-cell *matCellDef="let stock"> {{stock.purchasePrice | currency}} </td>
            </ng-container>

            <!-- Last Price Column -->
            <ng-container matColumnDef="lastPrice">
                <th mat-header-cell *matHeaderCellDef> Last Price </th>
                <td mat-cell *matCellDef="let stock"> {{stock.currentPrice | currency}} </td>
            </ng-container>

            <!-- Purchase Value Column -->
            <ng-container matColumnDef="purchaseValue">
                <th mat-header-cell *matHeaderCellDef> Value at Purcahse </th>
                <td mat-cell *matCellDef="let stock"> {{stock.purchasePrice * stock.quantity | currency}} </td>
            </ng-container>

            <!-- Current Value Column -->
            <ng-container matColumnDef="currentValue">
                <th mat-header-cell *matHeaderCellDef> Current Value </th>
                <td mat-cell *matCellDef="let stock"> {{stock.currentPrice * stock.quantity | currency}} </td>
            </ng-container>

            <!-- Sell Column -->
            <ng-container matColumnDef="sell">
                <th mat-header-cell *matHeaderCellDef> Sell </th>
                <td mat-cell *matCellDef="let stock; let i=index"> 
                    <div *ngIf="canSell; then buyBlock else lockedBlock"></div>

                    <ng-template #buyBlock>
                        <button mat-raised-button (click)="sellStock(i)">Sell</button> 
                    </ng-template>

                    <ng-template #lockedBlock>
                        <button mat-raised-button disabled>Sell</button> 
                    </ng-template>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="stockColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: stockColumns;"></tr>

        </table>

        <br/>  

        <p>{{cdMessage}}</p>
        <h1 *ngIf="cds.length > 0">CDs</h1>
        <table mat-table [dataSource]="cds" class="mat-elevation-z8" *ngIf="cds.length > 0">
            
            <!-- Deposit Column -->
            <ng-container matColumnDef="deposit">
                <th mat-header-cell *matHeaderCellDef> Deposit </th>
                <td mat-cell *matCellDef="let cd"> {{cd.deposit | currency}} </td>
            </ng-container>
            
            <!-- Interest Rate Column -->
            <ng-container matColumnDef="interestRate">
                <th mat-header-cell *matHeaderCellDef> Interest Rate </th>
                <td mat-cell *matCellDef="let cd"> {{cd.interestRate | percent}} </td>
            </ng-container>

            <!-- Open Date Column -->
            <ng-container matColumnDef="openDate">
                <th mat-header-cell *matHeaderCellDef> Date Openned </th>
                <td mat-cell *matCellDef="let cd"> {{cd.openDate | date}} </td>
            </ng-container>

            <!-- Term Column -->
            <ng-container matColumnDef="term">
                <th mat-header-cell *matHeaderCellDef> Term </th>
                <td mat-cell *matCellDef="let cd"> {{cd.term / 2592000000 | number:'1.0-0'}} months </td>
            </ng-container>

            <!-- Current Value Column -->
            <ng-container matColumnDef="currentValue">
                <th mat-header-cell *matHeaderCellDef> Current Value </th>
                <td mat-cell *matCellDef="let cd"> {{cd.currentValue | currency}} </td>
            </ng-container>

            <!-- Maturity Date Column -->
            <ng-container matColumnDef="maturityDate">
                <th mat-header-cell *matHeaderCellDef> Maturity Date </th>
                <td mat-cell *matCellDef="let cd"> {{parseInt(cd.openDate) + parseInt(cd.term) | date}} </td>
            </ng-container>

            <!-- Sell Column -->
            <ng-container matColumnDef="sell">
                <th mat-header-cell *matHeaderCellDef> Sell </th>
                <td mat-cell *matCellDef="let cd; let i=index"> 
                    <div *ngIf="canSell; then buyBlock else lockedBlock"></div>

                    <ng-template #buyBlock>
                        <button mat-raised-button (click)="sellCD(i)">Sell</button> 
                    </ng-template>

                    <ng-template #lockedBlock>
                        <button mat-raised-button disabled>Sell</button> 
                    </ng-template>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="cdColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: cdColumns;"></tr>

        </table>
    </ng-template>
</div>