.portfolio {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content:center;

    width: 100%;

    margin: 10px;
    padding: 10px;
    p {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content:center;
    }

    .portfolio-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content:center;
    }

    .portfolio-card {
        width: 40%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .card-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }
}

h1 {
    text-align: center;
}
