$color-main: rgb(228, 234, 255);
$color-secondary: rgb(98, 81, 255);

body{
    margin: 0px;
    padding: 0px;
}

.finance_app{
    background-color: $color-main;
    height: 100%;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $color-secondary;
    padding: 18px;
    .logo{
        color: white;
        font-size: 30px;
        text-decoration: none;
    }
    .nav_links{
        width: 200px;
        a{
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
    }
    .about_link{
        text-align: right;
        width: 200px;
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
    mat-icon{
        margin-left: 5px;
        margin-right: 20px;
    }
}

.material-icons{
    vertical-align: bottom;
}