$color-main: rgb(228, 234, 255);
$color-secondary: rgb(98, 81, 255);
$color-three: rgb(121, 107, 255);

#container{
    display: flex;
}

#left-side-bar{
    background-color: $color-main;
    height: calc(100vh - 60px);
    z-index: 10;
    flex-shrink: 0;
    transition: max-width 0.8s;
    width: 400px;
    box-shadow: 5px 0px 4px 0 rgba(0, 0, 0, 0.1), 8px 0px 10px 0 rgba(0, 0, 0, 0.09);
    .side-bar-viewable{
        transition-delay: 0.6s;
    }
}

.side-bar-expanded{
    max-width: 400px;
}
.side-bar-condensed{
    max-width: 0px;
}


.side-bar-viewable{
    transition: opacity 0.5s;
}
.side-bar-non-viewable{
    transition: opacity 0.13s;
    opacity: 0%;
}

.no-display{
    display: none;
}

#left-side-bar-toggle{
    background-color: $color-three;
    height: 200px;
    width: 30px;
    border-radius: 10px;
    align-self: center;
    margin-left: -10px;
    flex-shrink: 0;
    z-index: 9;
    transition: background-color 0.5s;
        &:hover{
            cursor: pointer;
            background-color: $color-secondary;
        }
}

#main-content{
    display: flex;
    justify-content: center;
    height: calc(100vh - 60px);
    z-index: 8;
    width: 100vw;

}

#main-content-container{
    width: 100%;
    max-width: 1600px;
}

@media screen and (min-width:1800px) { 
    #left-side-bar-toggle{
        display: none;
    }

    #left-side-bar{
        max-width: 400px;
    }
    
}