<div id='container' class='no-select'>
    <div class='small-container' id='welcome-content' >
        <div id='welcome-message'>
            <span class='side-bar-label'>Welcome {{ firstName }}</span>
            <span class='icon' id='home-icon' (click)='goTo("home")'></span>
            <span class='icon' id='account-icon' (click)='goTo("account")'></span>
            <span class='icon' id='message-icon' (click)='goTo("messages")'></span>
            <div class='side-bar-label' id='message-under'>What can we do for you today?</div>
        </div>
        
    </div>
    <div class='small-container' id='main-side-bar-content'>
        <mat-expansion-panel class='side-bar-expansion-panel' [expanded]='step == 1' (opened)='setStep(1)'>
            <mat-expansion-panel-header>
              <mat-panel-title class='panel-title'>
                My Accounts
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class='panel-link' routerLink="/cash">Individual</div>
            <div class='panel-link' routerLink="/ira" >IRA</div>
          </mat-expansion-panel>

          <mat-expansion-panel class='side-bar-expansion-panel' [expanded]='step == 2' (opened)='setStep(2)'>
            <mat-expansion-panel-header>
              <mat-panel-title class='panel-title'>
                My Portfolio
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class='panel-link' routerLink="/portfolio" >Portfolio</div>
          </mat-expansion-panel>

          <mat-expansion-panel class='side-bar-expansion-panel' [expanded]='step == 3' (opened)='setStep(3)'>
            <mat-expansion-panel-header>
              <mat-panel-title class='panel-title'>
                Marketplaces
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class='panel-link' routerLink="/cds">CDs</div>
            <div class='panel-link' routerLink="/forex">Forex</div>
            <div class='panel-link' routerLink="/mutualfunds">Mutual Funds</div>
            <div class='panel-link' routerLink="/stocks">Stocks</div>
          </mat-expansion-panel>
    </div>

    <div class='small-container' id='log-out-container'>
        <div id='logout-button' (click)='logout()'>Logout</div>
    </div>
</div>

