$color-main: white;
$color-secondary: #19B3F4;
$color-secondary2: #5dbfe9;
$color-footer: #ECECEC;
$color-green: #c7ed9f;
$color-green-dark: #a8d481;
$primary-font: 'Red Hat Display', sans-serif;

::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $color-main;
}
::-webkit-scrollbar{
    width: 8px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    background-color: $color-main;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

#container{
    height: calc(100vh - 180px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background-color: $color-main;
    background-color: white;


    .small-container{
        display: flex;
        width: 96%;
        margin-bottom: 5px;
    }

    .side-bar-label{
        font-size: 20px;
        font-weight: bold;
    }
    .side-bar-text{
        font-size: 20px;
        font-weight: bold;
    }

    .icon{
        height: 20px;
        cursor: pointer;
        margin-left: 10px;
    }


    #welcome-content{
        height: 120px;
        min-height: 120px;
        display: flex;
        flex-direction: column;

        #welcome-message{
            margin-top: 20px;
            margin-left: 20px;
            margin-right: 10px;
            
            #top-bar{
                display: flex;
                #welcome{
                    width: 100%;
                }
                #icons{
                    width:90px;
                    min-width: 90px;
                    #home-icon{
                        content: url(./home.png);
                    }
        
                    #account-icon{
                        content: url(./user.png);
                    }
        
                    #message-icon{
                        content: url(./email.png);
                    }
                }
                
            }
            #message-under{
                margin-top: 40px;
                font-size: 16px;
                text-align: center;
                font-weight: normal;
            }
        }
    }

    #main-side-bar-content{
        display: flex;
        flex-direction: column;
        height: calc(100vh - 320px);
        min-height: 280px;
        
        .side-bar-expansion-panel{
            border-radius: 0;
            .panel-title{
                font-size: 16px;
            }
            .panel-link{
                font-size: 14px;
                color: $color-secondary;
                cursor: pointer;
                margin-bottom: 10px;
            }
        }

    }

    #log-out-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        min-height: 50px;

        #logout-button{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 120px;
            background-color: $color-secondary;
            color: $color-main;
            transition: background-color 0.5s;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                background-color: $color-secondary2;
            }
        }
    }

}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
