$color-main: white;
$color-secondary: #19B3F4;
$color-secondary2: #5dbfe9;
$color-footer: #ECECEC;
$color-green: #c7ed9f;
$color-green-dark: #a8d481;
$primary-font: 'Red Hat Display', sans-serif;

#container{
    height:calc(100vh - 250px);
    //width: calc(100vw - 500px);

    #title{
      height: 65px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: x-large;
      
    }

    #table-container{
      overflow-y: auto;
      height: calc(100vh - 305px);
      background-color: white;
      //width: 100vw;
      overflow-x: hidden;
    }
    
      table {
        width: 100%;
      }

      td{
        flex-shrink: 0;
        flex-grow: 0;
        width:50px;
      }
      
      tr.example-detail-row {
        height: 0;
      }
      
      tr.example-element-row:not(.example-expanded-row):hover {
        background: whitesmoke;
      }
      
      tr.example-element-row:not(.example-expanded-row):active {
        background: #efefef;
      }
      
      .example-element-row td {
        border-bottom-width: 0;
        cursor: pointer;
      }
      
      .example-element-detail {
        overflow: hidden;
        display: flex;
        background-color: #fafafa;

      }
      .example-element-detail:hover {
        background: whitesmoke;
      }    

      .example-element-diagram {
        min-width: 80px;
        border: 2px solid black;
        padding: 8px;
        font-weight: lighter;
        margin: 8px 0;
        height: 104px;
      }
      
      .example-element-symbol {
        font-weight: bold;
        font-size: 40px;
        line-height: normal;
      }
      
      .example-element-description-attribution {
        opacity: 0.5;
      }

      .message{
        font-size: 15px;
        margin-left: 0px;
        padding-left: -250px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
      }
    
}