h2{
    margin-top: 20px;
    color: rgb(0, 0, 0);
}

.example-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 300px;
    input,mat-label{
        font-size: medium;
    }
    button{
        padding: 5px;
        font-size: medium;
    }
    a{
        margin-bottom: 20px;
        font-size: 13px;
        text-decoration: none;
        color: black;
    }
    .login{
        color: blue;
        font-weight: bold;
    }
}

.signup_content{
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    background-color: rgb(228, 234, 255);;
}

.example-right-align {
    text-align: right;
}
  
input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}
  
input.example-right-align {
    -moz-appearance: textfield;
}