<div id='container'>
    <div id='left-side-bar' [ngClass] = '{"side-bar-condensed":!sideBarExpanded, "side-bar-expanded":sideBarExpanded}'>
        <div id='router-content' [ngClass] = '{"side-bar-viewable":sideBarExpanded, "side-bar-non-viewable":!sideBarExpanded}'>
            <router-outlet name='left-side-bar-router'></router-outlet>
        </div>
            
    </div>

    <div id='left-side-bar-toggle' (click)='toggleSideBar()'></div>

        
    <div id='main-content' class='main-content-expanded'>
            <router-outlet></router-outlet>  
    </div>
</div>
