.tab {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content:center;

    margin: 20px;
    padding: 10px;
    text-align: left;
}

.card {
    text-align: center;
}

.title {
    padding: 15px;
}