<div>
    <mat-card class="card">
        <mat-card-title class="title">
            Checking Account
        </mat-card-title>
        <mat-card-title>
            {{account.balance | currency}}
        </mat-card-title>
        <mat-card-subtitle>
            Current Balance
        </mat-card-subtitle>
        <mat-card-content>
            <button mat-raised-button (click)="showDetails()">{{detailButton}}</button>
            <button mat-raised-button (click)="showForm()">Transfer</button>
            <div *ngIf="displayDetails">
                <p>Account Number:  {{account.accountNumber}}</p>
                <p>Routing Number: {{account.routingNumber}}</p>
            </div>
            <div *ngIf="displayForm">
                <form>
                    <mat-form-field appearance="outline">
                        <mat-label>Type</mat-label>
                        <mat-select [(value)]="selected" required>
                          <mat-option value="Deposit">Deposit</mat-option>
                          <mat-option value="Withdrawal">Withdrawal</mat-option>
                        </mat-select>
                      </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Amount</mat-label>
                        <input matInput placeholder="0" required [(ngModel)]="amount" name="amount">
                      </mat-form-field>
                      <button mat-stroked-button (click)="transfer()">Submit</button>
                </form>
            </div>
        </mat-card-content>
        <mat-card-title>
            Transactions
        </mat-card-title>
        <mat-card-content class="tab">
            <table mat-table [dataSource]="transactions" class="mat-elevation-z8">

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.date}} </td>
                </ng-container>
                
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Transaction Type </th>
                    <td mat-cell *matCellDef="let transaction"> {{transaction.type}} </td>
                </ng-container>
                        
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef> Amount </th>
                  <td mat-cell *matCellDef="let transaction"> {{transaction.amount | currency}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnst"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnst;"></tr>
              </table>
        </mat-card-content>
    </mat-card>
</div>
