<div class="home_content">
  <div class="welcome_cards">
    <div class="welcome_card">
      <h2>Welcome to Condor Financial</h2>
      <p>Register or Log In to begin playing with your virtual portfolio! Pick up a variety of investments and watch the returns in real-time!</p>
      <button routerLink="/login" mat-raised-button id="login-button" *ngIf='!loggedIn'>Login/Sign Up</button>
      <button routerLink="/dashboard" mat-raised-button id="login-button" *ngIf='loggedIn'>My Dashboard</button>
    </div>
  
  </div>

  <div class="services">
    <div id=services-container>
      <h2><b>Available Services</b></h2>
      <div class="service_cards">
        <mat-card class="service_card">
          <mat-card-title class="service_card_title">Stocks</mat-card-title>
          <mat-card-content>
            <p>Over 300 stocks listed! Check their history, add them to your portfolio, and learn about the company.</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="service_card">
          <mat-card-title class="service_card_title">IRAs</mat-card-title>
          <mat-card-content>
            <p>Manage a virtual IRA and track it's progress over time!</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="service_card">
          <mat-card-title class="service_card_title">Forex</mat-card-title>
          <mat-card-content>
            <p>View some of the world's top-traded currencies and add them to your portfolio!</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="service_card">
          <mat-card-title class="service_card_title">Mutual Funds</mat-card-title>
          <mat-card-content>
            <p>Check out our sample funds and see how they compare to your portfolio!</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="service_card">
          <mat-card-title class="service_card_title">CDs</mat-card-title>
          <mat-card-content>
            <p>Add CDs to your portfolio and track their performance against your other investments!</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    </div>
    

  
  
</div>
