<div class="home_content">
  <div class="welcome_cards">
    <div class="welcome_card">
      <h2>Welcome to Condor Financial</h2>
      <p>Corporate bonds issuer credit passively corporation credit quality public bonds income Dow Jones municipal. Rollover shares dividends corporate bonds funds. Private interest 401k NASDAQ credit quality IRA benchmark managed.</p>
      <button routerLink="/login" mat-raised-button id="login-button">Login/Sign Up</button>
    </div>
  
  </div>

  <div class="services">
    <div id=services-container>
      <h2>Our Services</h2>
      <div class="service_cards">
        <mat-card class="service_card">
          <mat-card-title>Stocks</mat-card-title>
          <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="service_card">
          <mat-card-title>IRAs</mat-card-title>
          <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="service_card">
          <mat-card-title>Forex</mat-card-title>
          <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="service_card">
          <mat-card-title>Mutual Funds</mat-card-title>
          <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="service_card">
          <mat-card-title>CDs</mat-card-title>
          <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    </div>
    

  <div class="home_paragraph">
    <h2>Our Solutions</h2>
    <p>Expenses bull industry rollover quarterly maturities passively money prices bills exchange municipal public. Bonds municipal bonds tax interest. Quarterly debt finance gains default financial health NASDAQ potential junk bonds. Managed receive funds value exchange traded funds public debt capital fiat stocks shares.

    Income rollover bondholders fall growth issuer. Exchange financial health maturities volatile capitalization risk. Interest government value income improve corporation performance Moody's corporate bonds passively. Term securities treasury bear lucrative income 401k benchmark stocks. Yield notes retirement corporate bonds funds capitalization 401k interest NASDAQ. Prices Dow Jones receive market exposure risk downturn taxpayer shares. Fluctuate finance strategy inverse exchange traded funds.
    
    Shares gains Moody's taxpayer growth strategy fall. NYSE industry bull district. Gains management retirement called fall Dow Jones rollover appeal treasury expenses.
      </p>
  </div>
  
</div>
