$color-main: rgb(228, 234, 255);
$color-secondary: rgb(98, 81, 255);
$color-three: rgb(121, 107, 255);

#main-container{
    max-width: 1600px;
    background-color: white;
}


.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
